#heading {
	/*text-transform: uppercase;*/
	/*text-align: center;*/
	/*color: #fff;*/
	font-size: 6.0rem;
	color: rgba(204, 214, 246, 0.9);
	margin-left:15px
}

#heading-intro {
	padding-top: 12.5%;
	margin-bottom: 0;
}

#subheading {
	font-size: 2.0rem;
	color: rgba(136, 146, 176, 0.9);
	margin-left:15px
}

#home-p{
	margin-left:15px
}

div.container {
	padding-right:10%;
}

.is-selected {
	color: orange
}

body {
	/*padding-left: 10%;*/
	height: 100vh;
	background-color: rgb(10, 25, 47);
	color: rgb(89, 112, 129);
}

.blockquote-footer {
	color: rgb(89, 112, 129, 0.5);
}

.blockquote{
	font-size: 1rem;
	padding-top: 12.5%;
	padding-left: 30px;
	padding-right: 30px;
}


/*.container {
	css smooth scroll
}*/


.home-background {
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	width: 100vh;
	height: 100vh;
	z-index: -1;
}

/*@media (min-aspect-ratio: 16/9) {
	.home-background {
		width: 100vh;
		height: auto;
	}
}

@media (min-aspect-ratio: 16/9) {
	.home-background {
		width: auto;
		height: 10vh;
	}
}*/

.arrows {
	color: #ffffff85;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 500;
	font-size: 2rem;
}

#up-arrow, #down-arrow {
	width: 50px;
}

.up{
	top: 10%;
}

.down {
	bottom: 10%;
}

i.arrow {
	margin: 0;
}

#home-page, #aboutme-page, #projects-page, #contact-page {
	flex-direction: column;
	/*padding-top: 4rem;*/
	/*flex-direction: center;*/
	/*align-items: center;*/
	justify-content: center;
	height: 100vh;
}

.bottom-nav-bar {
	display: block;
	width: 1px;
	height: 90px;
	margin: auto;
	background-color: rgba(136, 146, 176, 0.9);
}

.nav-item {
	color: rgba(136, 146, 176, 0.9);
}

.sidebar-nav {
	position: absolute;
	position: fixed;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
}

span.dot {
	height: 12px;
  width: 12px;
  background: rgba(255,255,255,.25);
  border-radius: 50%;
  display: inline-block;
}

a:link{
  text-decoration: none;
}

.sidebar-nav.top {
	top: 50%;
	transform: translateY(-50%);
}

.sidebar-nav.bottom {
  bottom: 0;
}


$enable-responsive-font-sizes: true;
