:root {
	--body-grey: rgba(89, 112, 129, 1);
	--background-navy: rgba(10, 25, 47, 1);
	--sapphire : rgba(0, 104, 139, 1);
	--header-white: rgba(204, 214, 246, 0.9);
	--light-color: rgba(166, 166, 168, 1);
	--dark-color: rgba(39, 38, 53, 1);
	--nav-grey: rgba(136, 146, 176, 0.9);
}

.s-cls-3{
	fill:var(--sapphire);
}
.m-cls-3{
	fill:var(--sapphire);
}

.l-cls-4{
	fill:var(--sapphire);
}

/* Splash background */
.splash {
	position: fixed;
	z-index: 3000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--dark-color);
}

.splash-logo {
	position: absolute;
	left:50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.splash-logo#left {
	top:40%;
	opacity: 0;
}

.splash-logo#right {
	top:60%;
	opacity: 0;
}


.splash-logo#right path#left, .splash-logo#left path#right {
	opacity: 0;
}

@-webkit-keyframes autofill {
        to {
            color: #fff;
            background: transparent;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }




#heading {
	font-size: 6.0rem;
	color: var(--header-white);
}

.title {
	color: var(--header-white);
}

input, textarea {
	outline: none;
	border: none;
}

.form-control {
	background-color: transparent !important;
}

#heading-intro {
	margin-bottom: 0;
	color: var(--sapphire);
}

#subheading {
	font-size: 2.0rem;
	/* font-weight:2; */
	color: var(--body-grey);
	margin-bottom: 50px;
}

#quote, #author {
	display: inline-block;
	cursor: pointer;
}

#home-p{
}

div.container {
	padding:0 80px;
}

#email-send-button {
	text-align: right;
	padding-top: 24px;
}



.is-selected {
	color: var(--sapphire);
}

.is-highlighted {
	text-transform: uppercase;
}

body {
	/*padding-left: 10%;*/
	height: 100vh;
	width: 100%;
	background-color: var(--background-navy);
	color: var(--body-grey);
	overflow: hidden;
}

.blockquote-footer {
	color: rgb(89, 112, 129, 0.5);
}

div#home-para{
	padding-bottom: 12.5%;
}

.quote-block{
	bottom: 50px;
	position: absolute;
}

.blockquote{
	font-size: 1rem;
}

.page {
	flex-direction: column;
	min-height: 100vh;
	padding: 100px 50px;
	position: relative;
}

#home-page {
	opacity: 1;
}



.bottom-nav-bar {
	display: block;
	width: 1px;
	height: 90px;
	margin: auto;
	background-color: var(--nav-grey);
}

.nav-item {
	color: rgba(136, 146, 176, 0.9);
}

.sidebar-nav {
	position: absolute;
	position: fixed;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
	text-align: center;
	text-transform: uppercase;
}


.sidebar-nav.top {
	font-size: 24px;
}

.sidebar-nav.top li {
	margin-top: 24px;
}

.sidebar-nav.logo {
	margin-top: 24px;
	font-size: 24px
}

.sidebar-nav.bottom li {
	margin-top: 20px
}

.sidebar-nav.bottom i {
	font-size: 20px;
}

.sidebar-nav.bottom {
  bottom: 0;
}

/* Loader */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #006899;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* .underline-from-left {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2980b9;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    right: 0;
  }
} */
