<div id="aboutme-page" class="row d-flex container-fluid page">
	<h1 class="display-4 title" data-aos="fade-up"><span class="number"></span> About Me</h1>
	<div class="row">
		<div class="col-md-6" id="home-para" data-aos="fade-up">
			I'm a final year BSc Mathematics student and Sales Administrator at crypto firm, with a passion for developing sleak and elegant algorithms.
		</div>
	</div>

	<p data-aos="fade-up">Fancy seeing you here! I'm Kenny, an aspiring software engineer based in Hertfordshire, UK. </p>

	<p data-aos="fade-up">I love problem solving, whether that be through code, on paper, or any other tool at my disposal. My goal is to solve some of the most challenging and interesting problems through clear, elegant methods and to strengthen my skills in doing so. </p>

	<p data-aos="fade-up">As a full-time final year Open University student, I'll be graduating in Summer 2021, but currently, my full-time job at BC Bitcoin involves, executing crypto trades, data admin and more.</p>
</div>
