<div id="aboutme-page" class="row d-flex page">
	<h1>About Me</h1>
	<p>Fancy seeing you here! I'm Kenny, an aspiring software engineer based in Hertfordshire, UK. </p>

	<p>I love problem solving, whether that be through code, on paper, or any other tool at my disposal. My goal is to solve some of the most challenging and interesting problems through clear, elegant methods and to strengthen my skills in doing so. </p>

	<p>As a full-time final year Open University student, I'll be graduating in Summer 2021, but currently, my full-time job at BC Bitcoin involves, executing crypto trades, data admin and more.</p>

	<p>Here are some of the technologies that I've focussing on:</p>
		<ul>
			<li>Python</li>
			<li>SQL</li>
			<li>JavaScript</li>
			<li>Java</li>
			<li>Django</li>
			<li>HTML & CSS</li>
			<li>C/C++</li>
		</ul>
</div>
