<div id="home-page" class="d-flex container-fluid page">
	<div class="row">
		<div class="col-md-12" id="intro">
			<h1 class="lead" id="heading-intro">Hello. My name is</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="display-1" id="heading">Kenny Stevens</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4" id="subheading"><span>Aspiring</span> <span>Software Engineer</span> <span>/ Developer</span></h1>
		</div>
	</div>
	<div class="row quote-block">
		<div class="col-md-12">
			<blockquote class="blockquote">
					<p class="mb-0" id="quote"></p>
			 		<br><footer class="blockquote-footer" id="author"></footer>
			</blockquote>
		</div>
	</div>
</div>
